[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot-ifplatform"]
	path = dotbot-ifplatform
	url = https://github.com/ssbanerje/dotbot-ifplatform.git
[submodule "dotbot-omnipkg"]
	path = dotbot-omnipkg
	url = https://github.com/code-maniac/dotbot-omnipkg
[submodule "dotbot-rust"]
	path = dotbot-rust
	url = https://github.com/alexcormier/dotbot-rust
